* {
}

body{
    background-color: rgb(25, 29, 36);
}

header{
    width: 100%;
    height: 100%;
    background-color: rgb(244, 141, 248);
    color: #ffff;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    margin-left: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 1rem;
  }
  
nav a {
    color: white;
    text-decoration: none;
}


@media (max-width:320px) {
    header{
        width: 100%;
        height: 100px;
        background-color: rgb(252, 156, 255);
        text-align: center;
    }
}

@media((min-width:320px) and (max-width:720px)) {
    header{
        width: 100%;
        height: 100px;
        background-color: rgb(64, 217, 219);
        text-align: center;
    }
}